body {
  background-color: bisque;
}

.search-container {
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin: 4%;
  border-radius: 10px;
  background-color: white;
  box-shadow: 3px 3px 5px gray;
}

.search-bar {
  height: 5vh;
  width: 15vw;
  background-repeat: no-repeat;
  transition: 500ms;
}

.search-bar:hover {
  width: 50vw;
  transition: 500ms;
}

.input-field {
  width: calc(100% - 30px);
  border: 0;
  font-size: 14px;
  transition: 500ms;
}

.input-field:focus {
  outline: none;
}

.search-icon {
  display: flex;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/5/55/Magnifying_glass_icon.svg");
  background-repeat: no-repeat;
  background-size: 15px 15px;
  background-position: center;
  width: 20px;
  height: 20px;
}

.suggestions {
  display: none;
}

.suggestion {
  height: 5vh;
  width: 100%;
  transition: 500ms;
}

.suggestion:hover {
  background-color: lightgray;
  cursor: pointer;
  transition: 300ms;
}

.results-row {
  height: 4vh;
  width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  transition: 500ms;
  background-color: white;
}

.row-text {
  margin: 0;
  align-self: center;
  left: 5px;
  font-size: 14px;
}

.info-container {
  display: flex;
  flex-direction: column;
  width: 60vw;
  height: fit-content;
  padding: 5%;
}

.attr {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-bottom: 10px;
}

.attr-name {
  color: grey;
}

.attr-value {
  font-size: 24px;
}

.tag {
  display: flex;
  margin: auto;
  width: fit-content;
  padding: 3px 25px 3px 10px;
  border-radius: 12px;
  background-color: rgb(99, 99, 255);
  background-image: url("https://cdn-icons-png.flaticon.com/512/3686/3686971.png");
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 20px 20px;
  display: none;
}

.tag:hover {
  background-color: rgb(162, 162, 255);
  cursor: pointer;
}

.tagname {
  font-size: 16px;
  padding: 0.1vh calc(20px + 0.4vw) 0.1vh 0.4vw;
  margin: 0;
  color: white;
}

.flex-row {
  display: flex;
  margin: 0;
  flex-wrap: wrap;
}

.align-self-center {
  align-self: center;
}

.text-bold {
  font-weight: bold;
}

@media (max-width: 560px) {
  .search-bar-sm {
    width: 40vw;
  }
  .search-bar-sm:hover {
    width: 70vw;
  }
  .attr-name-sm {
    font-size: 12px;
  }
  .attr-value-sm {
    font-size: 16px;
  }
  .tagname-sm {
    font-size: 14px;
  }
}